**/.settings
**/.classpath
**/.project
**/target
target
logs
.settings
.classpath
.project
.DS_Store
.idea
*.iml
nohup.out
/target
**/test-output
**/pom.xml.releaseBackup
release.properties
bin/
**/*.log
~         

